
<%= form_for @users, :html => {:multipart => true} do |u| %>
<form class="form-horizontal">
  <fieldset>
    <legend>Usuario</legend>
    <div class="form-group">
      <%= s.label :email, "Email", class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= s.text_field :email class: "form-control", placeholder: "Email" %>
      </div>
    </div>
    <div class="form-group">
      <%= s.label :encrypted_password, "Contraseña", class:"col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= s.text_field :encrypted_password, class: "form-control", placeholder: "Contraseña" %>
      </div>
    </div>

    <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <%= s.submit button_user_name, class: "btn btn-primary" %>
          </div>
    </div>
  </fieldset>
</form>
<% end %>
